{% include components/cookie.html %}

<main class="main" >  
    {% include components/accueil.html %}    
    {% include components/preference.html %}    
    {% include components/planning.html %}    
    {% include components/trophy.html %}    
    {% include components/form.html %}    
    {% include components/footer.html %}  
    {% include components/nav_bar.html %}   
    {% include components/nav_defaut.html %} 
</main>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/cookies.js"></script>
