<svg width="0" height="0" viewBox="0 0 1 1" preserveAspectRatio="none" class="my-0"
    style="position:absolute; pointer-events: none;">
    <defs>
        <clipPath id="clipIcon">
            <path d="M76.2008 7.2841C81.2712 19.9415 139.158 28.3798 167.468 31.0168C224.51 19.7156 215.637 69.4411 190.285 101.085C170.003 126.4 99.0176 131.975 66.06 131.598C42.8206 122.18 -2.89765 92.9479 0.144598 51.3591C3.94741 -0.626795 69.8628 -8.5377 76.2008 7.2841Z"/>
        </clipPath>
    </defs>      
</svg>

<div class="presentation">
    <div class="title">
        <h1>#DÉFICOVID</h1>
        <h2>Qu'est-ce que c'est ?</h2>
    </div>
        
    <div class="girl">
        <img src="../../assets/images/flatdraw.png" alt="Image d'une fille qui court">
    </div>

    <div class="txt1">
        <p>Tous les jours de nouveaux défis à te proposer pour t'accompagner et te soutenir. 
        </br> Les défis sont adaptés en fonction de toi et tes choix !</p>
    </div>

    <div class="txt2">
        <p>Tu trouveras aussi des citations et astuces pour te relaxer et survivre à cet épidémie !</p>
    </div>
</div>



<div class="logos">
    <!-- Test pour mettre le fond -->
    <div class="icon">
        <div class="test"><span></span></div>
        <h3>TEST</h3>
    </div>
    <!-- Test pour mettre le fond -->

    <div class="icon">
        <img src="../../assets/images/confetti.png" alt="logo confettis">
        <h3>ACTIVITÉS FUN</h3>
    </div>

    <div class="icon">
        <img src="../../assets/images/mission.png" alt="logo mission">
        <h3>SE DÉFIER</h3>
    </div>

    <div class="icon">
        <img src="../../assets/images/rocket.png" alt="logo fusée">
        <h3>OSER L'IMPENSABLE</h3>
    </div>
</div>

<div class="button-continue-container">
    <a href="#preferences" class="js-scrollTo"><button class="button-continue"> Choisir ses préférences </button></a>
</div>
