<!-- <svg width="1439" height="852" viewBox="0 0 1439 852" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1439 832.978C1233.05 874.282 767.166 875.361 551.266 549.25C335.366 223.139 96.4674 242.931 0 296.878V0H1439V832.978Z" fill="#FCD34D"/>
    </svg> -->


<div class="presentation">
    <div class="title">
        <h1>#DÉFICOVID</h1>
        <h2>Qu'est-ce que c'est ?</h2>
    </div>
        
    <div class="girl">
        <img src="../../assets/images/flatdraw.png" alt="Image d'une fille qui court">
    </div>

    <div class="txt1">
        <p>Tous les jours de nouveaux défis à te proposer pour t'accompagner et te soutenir. 
        </br> Les défis sont adaptés en fonction de toi et tes choix !</p>
    </div>

    <div class="txt2">
        <p>Tu trouveras aussi des citations et astuces pour te relaxer et survivre à cet épidémie !</p>
    </div>
</div>



<div class="logos">
    <div class="icon">
        <img src="../../assets/images/confetti.png" alt="logo confettis">
        <h3>ACTIVITÉS FUN</h3>
    </div>

    <div class="icon">
        <img src="../../assets/images/mission.png" alt="logo mission">
        <h3>SE DÉFIER</h3>
    </div>

    <div class="icon">
        <img src="../../assets/images/rocket.png" alt="logo fusée">
        <h3>OSER L'IMPENSABLE</h3>
    </div>
</div>

<div class="button-continue-container">
    <button class="button-continue"> Choisir ses préférences </button>
</div>



    