<svg class="wave_accueil_desktop"preserveAspectRatio="none" width="1439" height="852" viewBox="0 0 1439 852" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1439 832.978C1233.05 874.282 767.166 875.361 551.266 549.25C335.366 223.139 96.4674 242.931 0 296.878V0H1439V832.978Z" fill="#FCD34D"/>
    </svg>
    
    
<svg class="wave_accueil" width="100vw" height="495" viewBox="0 0 373 495" fill="none" xmlns="http://www.w3.org/2000/svg"preserveAspectRatio="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M374 -8.97531H-7V469.722C38.6974 483.476 87.5875 490.007 133.062 483.671C241.989 468.492 319.053 477.088 374 494.639V-8.97531Z" fill="#FCD34D"/>
</svg>
<div class="presentation">
    <div class="title">
        <h1>#DÉFICOVID</h1>
        <h2>Qu'est-ce que c'est ?</h2>
    </div>
        
    <div class="girl">
        <img src="../../assets/images/flatdraw.svg" alt="Image d'une fille qui court">
    </div>

    <div class="txt1">
        <p> <span>Tous les jours</span> de nouveaux <span>défis</span> à te proposer pour t'accompagner et te soutenir. 
        </br> </br> Les défis sont <span>adaptés</span> en fonction de <span>toi</span> et <span>tes choix</span> !</p>
    </div>

    <div class="txt2">
        <p>Tu trouveras aussi des <span>citations</span> et <span>astuces</span> pour te relaxer et survivre à cet épidémie !</p>
    </div>
</div>



<div class="logos">
    <div class="icon">
        <svg class="icone_accueil"  viewBox="0 0 102 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.9533 3.52964C39.4102 9.66303 67.4605 13.752 81.1785 15.0297C108.819 9.55354 104.52 33.6489 92.2348 48.9824C82.407 61.2492 54.4609 72.8915 32.0394 63.7683C13.8378 56.3621 -1.37529 45.0395 0.0988866 24.887C1.94161 -0.303724 33.8821 -4.13709 36.9533 3.52964Z" fill="#FCD34D" fill-opacity="0.52"/>
        </svg>
            <img src="/assets/images/confetti.png" alt="confettis">       
            <h3>ACTIVITÉS FUN</h3>
        </div>
        
        <div class="icon">
            <svg class="icone_accueil"  viewBox="0 0 102 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.9533 3.52964C39.4102 9.66303 67.4605 13.752 81.1785 15.0297C108.819 9.55354 104.52 33.6489 92.2348 48.9824C82.407 61.2492 54.4609 72.8915 32.0394 63.7683C13.8378 56.3621 -1.37529 45.0395 0.0988866 24.887C1.94161 -0.303724 33.8821 -4.13709 36.9533 3.52964Z" fill="#FCD34D" fill-opacity="0.52"/>
            </svg>
            <img src="/assets/images/rocket.png" alt="fusée">
            <h3>OSER L'IMPENSABLE</h3>
        </div>
        
        <div class="icon">
            <!-- <div class="image mission"><span></span></div> -->
            <svg class="icone_accueil"  viewBox="0 0 102 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.9533 3.52964C39.4102 9.66303 67.4605 13.752 81.1785 15.0297C108.819 9.55354 104.52 33.6489 92.2348 48.9824C82.407 61.2492 54.4609 72.8915 32.0394 63.7683C13.8378 56.3621 -1.37529 45.0395 0.0988866 24.887C1.94161 -0.303724 33.8821 -4.13709 36.9533 3.52964Z" fill="#FCD34D" fill-opacity="0.52"/>
            </svg>
            <img src="/assets/images/mission.png" alt="accomplissement">
        <h3>SE DÉFIER</h3>
    </div>

</div>

<div class="button-continue-container">
    <a href="#preferences" class="js-scrollTo"><button class="button-continue"> Choisir ses préférences </button></a>
</div>
