<svg width="0" height="0" viewBox="0 0 1 1" preserveAspectRatio="none" class="my-0"
    style="position:absolute; pointer-events: none;">
    <defs>
        <clipPath id="clipCookie" clipPathUnits="objectBoundingBox">
            <path d="M0,0.1C0,0.1,0.1,0,0.3,0s0.2,0.1,0.4,0.1S1,0,1,0v1H0V0.1z" />
        </clipPath>
    </defs>
</svg>

<div class="cookie">
    <div class="background-wave"></div>
    <div class="popup_cookie">
        <img src="assets/images/cookie.svg" alt="Image de cookies">
        <div class="title_cookie">
            <p>Ce site dépose des cookies sur votre terminal lors de votre visite. </p>
        </div>
        <div class="explication_cookie">
            <p>Si vous les acceptez, le site pourra recueillir des statistiques de visites anonymes pour améliorer la
                navigation.</p>
        </div>
        <div class="buttons">
            <button class="button-accepted" onclick="cookiesAccepted()">Accepter</button>
            <button class="button-canceled" onclick="cookiesDeclined()">Refuser</button>
        </div>
    </div>
</div>