<footer>
    <!--Logo DEFISCOVID-->
    <img src="/assets/images/logo.png" alt="LOGO" class="logo-promise">

    <!--Liste des titres-->
    <div class="footer-nav">
        <div><a href="#" >Nous contacter</a></div>
        <div><a href="#" >Mentions légales</a></div>
        <div><a href="#" >Politiques des cookies</a></div>
        <div><a href="#" >Aide</a></div>
        <div><a href="#" >Qui sommes-nous ?</a></div>
    </div>

    <!--Liste des socials-->
    <ul class="footer-social">
        <li><img src="/assets/images/Facebook.png" alt=""></li>
        <li><img src="/assets/images/Insta.png" alt=""></li>
        <li><img src="/assets/images/Twitter.png" alt=""></li>
    </ul>
</footer>