<footer>
    <div class="footer_climb">
        <a class="haut-arrow" href="#">
            
                <p class="arrow_footer">Haut de page</p>
                <img class="haut_footer" src="/assets/images/Ellipse_78.png" alt="Fleche">
        </a>
        
    </div>
    <!--Liste des titres-->
    <div class="footer-nav">
        <div><a href="#" >Nous contacter</a></div>
        <div><a href="#" >Mentions légales</a></div>
        <div><a href="#" >Politiques des cookies</a></div>
        <div><a href="#" >Aide</a></div>
        <div><a href="#" >Qui sommes-nous ?</a></div>
    </div>

    <div class="container">
        <div class="defis-covid">
            <div><img src="/assets/images/logo.png " alt="logo #deficovid" class="logo-defi"></div>
        </div>
        <div class="logo-social">
          <div class="retrouvez-nous">
            <div>Retrouvez-nous sur :</div>
          </div>
        <div class="footer-logos">
            <div> <img src="/assets/images/Insta.png" alt="logo instagram"></div>
            <div> <img src="/assets/images/Facebook.png" alt="logo facebook"></div>
            <div> <img src="/assets/images/Twitter.png" alt="logo twitter"></div>
        </div>
        </div>
    </div>
    <div class="fin-footer">
        <p class="copyright"> &copy;2020 <strong>DEFISCOVID</strong>, TOUS DROITS RÉSERVÉS </p>
             <p class="designed"> Designed by <strong>CASNEV</strong></p>
           </div>
</footer>