 <!--INPUT POUR FORMULARO-->
 <div class="form-container">
    <form action="" method="post">
      <div class="group">
        <input class="input" name="firstname" type="text" placeholder="John" required>
        <label>Prénom</label>
      </div>
      <div class="group">
        <input class="input" name="lastname" type="text" placeholder="Doe" required>
        <label>Nom</label>
      </div>
      <div class="group">
        <input class="input" name="email" type="email" placeholder="johndoe@example.com" required>
        <label>Email</label>
      </div>
      <div class="group">
        <input class="input" name="idea" type="text" placeholder="Pro de la blague" required>
        <label>Nom de l'idée</label>
      </div>
      <div class="group">
        <textarea class="input textarea" name="detail" placeholder="Détail ton idée..." required></textarea>
        <label>Ton idée</label>
      </div>
      <div class="group">
        <button class="button-continue" type="submit">Je valide mon idée !</button>
      </div>
    </form>
  </div>
</div>