 <!--INPUT POUR FORMULARO-->
<div class="test">
  <p>
  Tu as des tonnes d’idées en tête et tu souhaites nous les soumettre ?   
  <span>
    N’hésites pas à remplir ce formulaire !
  </span>
  </p>
</div>
    <form action="" method="post">
      <div class="group">
        <input class="input" name="firstname" type="text" placeholder="Renseigne ton prénom" required>
        <label>Prénom</label>
      </div>
      <div class="group">
        <input class="input" name="lastname" type="text" placeholder="Renseigne ton nom" required>
        <label>Nom</label>
      </div>
      <div class="group">
        <input class="input" name="email" type="email" placeholder="Renseigne ton email" required>
        <label>Email</label>
      </div>
      <div class="group">
        <input class="input" name="idea" type="text" placeholder="Renseigne le nom de l'idée" required>
        <label>Nom de l'idée</label>
      </div>
      <div class="group">
        <textarea class="input textarea" style="padding: 20px;" name="detail" placeholder="Détail ton idée..." required></textarea>
        <label>Ton idée</label>
      </div>
      <button class="button-continue group" style="margin-top: 0px;width: 80%; align-items: center;" type="submit">Je valide mon idée !</button>
    </form>

    
</div>