<nav class="nav">
  <a href="/" class="logo"><img src="/assets/images/logo.svg" alt="Logo DéfisCovid"></a>
  <ul class="navlink">
    <li>
      <a class="liennav" href="#"><img class="image" src="/assets/images/maison.svg" alt="Logo accueil">Accueil</a>
    </li>
    <li>
      <a class="liennav" href="#planning"><img class="image" src="/assets/images/plannin_nav.svg" alt="Logo planning">Planning</a>
    </li>
    <li>
      <a class="liennav" href="#missions"><img class="image" src="/assets/images/trophee.svg" alt="Logo trophées">Trophées</a>
      </li>
  </ul>
</nav>