<div class="planning" id="planning">
    <div class="text_planning">
      <div class="title_planning">
        <p>Hey te revoilà ! 😇</p>
      </div>
      <div class="explication_planning">
        <p> <span>Aujourd’hui c’est ton premier jour donc premier DÉFI !</span> Tiens-toi prêt !
          N’oublie pas de <span> partager </span>sur les réseaux ton résultat avec le <span>#DEFISCOVID </span> 😉</p>
      </div>
      <div class="container_social">
        <ul class="container_links">
          <li><a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a></li>
          <li><a href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="section_challenge">
     <div class="challenge_planning">
      <div class="challenge">
        <div class="challenge-container">
          <div>
            <img src="assets/images/cake.svg" alt="YummyCake">
          </div>
          <div class="title_challenge">
            <p id="title_challenge">Aujourd’hui tu dois faire un <span>gâteau géant</span></p>
          </div>
        </div>
      </div>
      <div class="citation-and-agenda">
        <p class="citation">“La vie est un long fleuve tranquille”</p>
        <div class="agenda-container">
          <div class="agenda_arrow">
            <img class="arrow" data-direction="left" src="assets/images/arrow-left.svg"
              alt="Flèche de navigation de gauche">
            <ul id="agenda" class="agenda"></ul>
            <img class="arrow" data-direction="right" src="assets/images/arrow-right.svg"
              alt="Flèche de navigation de droite">
          </div>
          <div class="agenda_slider">
            <input type="range" min="0" max="12" value="0" step="1" class="slider" id="myRange">
          </div>
        </div>
      </div>
    </div>
      <div class="button-continue-container">
        <a href="#missions" class="js-scrollTo"><button class="button-continue" onclick="finishMission()">J'ai finis ma mission !</button></a>
      </div>
    </div>

  </div>
 