<div class="preferences" id="preferences">
    <div class="text_preferences">
        <div class="title_preferences">
            <p>Choisis tes préférences ici ! </p>
        </div>
        <div class="explication_preferences">
            <p>Ainsi tous les défis te seront proposés en fonction de ce que tu aimes faire ! </p>
        </div>
    </div>
    <div class="buttons">
        <button id="button-all-challenge" class="button-preferences" data-list="all">Tous les défis 🎲 </button>
        <button class="button-preferences" data-list="tv">Défis TV 🖥</button>
        <button class="button-preferences" data-list="mobile">Défis mini jeux mobile 📱</button>
        <button class="button-preferences" data-list="extraordinary">Défis insolites 🤓</button>
        <button class="button-preferences" data-list="travel">Défis voyage ✈️</button>
        <button class="button-preferences" data-list="cook">Défis cuisine 🍰</button>
    </div>
    <div class="generate-planning">
        <div class="button-continue-container">
            <a href="#planning" class="js-scrollTo"><button class="button-continue" onclick="generatePlanning()">Générer mon planning</button></a>
        </div>
        <p class="error-planning" style="display: none;">Afin de générer votre planning, vous devez choisir des
            préférences 😉</p>
        <div class="loading-planning">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </div>
</div>