<div class="trophy_head">
    <h2>MA GALERIE TROPHÉE</h2>
    <p>Ici tu peux retrouver tous tes trophées collectionnés pendant ta période d'isolement !</p>
</div>

<div class="boxes">

    {% include components/trophies.html title="Master Cake" status="unlocked" %}
    {% include components/trophies.html title="Mâsta Kêku" status="locked" %}
    {% include components/trophies.html title="Haha" status="locked" %}
    {% include components/trophies.html title="Il m'en fallait 4" status="locked" %}
    {% include components/trophies.html title="Tant qu'à faire.." status="locked" %}
    {% include components/trophies.html title="Autant en mettre 6 pour 2 étages!" status="locked" %}

</div>