<div class="trophy_head" id="missions">
    <h2>MA GALERIE TROPHÉE</h2>
    <p>Ici tu peux retrouver tous tes trophées collectionnés pendant ta période d'isolement !</p>
</div>

<div class="boxes">

    {% include components/trophies.html title="Master<br />Cake" status="unlocked" source="/assets/images/trophy_cake.svg" %}
    {% include components/trophies.html title="Bijoutier<br />Expert en<br />pâtes" status="locked" source="/assets/images/trophy_pates.svg" %}
    {% include components/trophies.html title="Padawan<br />Reconnu" status="locked" source="/assets/images/trophy_padawan.svg" %}
    {% include components/trophies.html title="Pro de la<br />Débrouille" status="locked" source="/assets/images/trophy_debrouille.svg" %}
    {% include components/trophies.html title="Agent<br />Secret" status="locked" source="/assets/images/trophy_agent.svg" %}
    {% include components/trophies.html title="Planificateur<br />Hors Pair" status="locked" source="/assets/images/trophy_planificateur.svg" %}
    {% include components/trophies.html title="Expert(e) en<br />Culture<br />Générale" status="locked" source="/assets/images/trophy_culture.svg" %}
    {% include components/trophies.html title="Génie du<br />Siècle" status="locked" source="/assets/images/trophy_genie.svg" %}
    {% include components/trophies.html title="Maître<br />Yoga" status="locked" source="/assets/images/trophy_yoga.svg" %}
    {% include components/trophies.html title="Momification<br />Low Cost" status="locked" source="/assets/images/trophy_momification.svg" %}
    {% include components/trophies.html title="Polyglote à<br />Moitié" status="locked" source="/assets/images/trophy_polyglote.svg" %}

</div>