.presentation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    padding: 0 34px;

    .title {
        font-family: $font-roboto;
        width: 100%;

        h1{
            font-weight: bold;
            color: $black;
        }

        h2{
            color: $black;
        }
    }

    .girl{
        width: 50%;
        

        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    .txt1{
        width: 50%;
        font-family: $font-montserrat;
        font-size: 18px;
    }

    .txt2{
        width: 100%;
        font-family: $font-montserrat;
    }
}

.logos {
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 0 34px;

    .icon{
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 15%;
            display: block;
        }

        h3 {
            font-weight: $weight-light;
            font-family: $font-montserrat;
        }
    }
}

@media screen and (min-width: 1094px) {
    .presentation{
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 0 34px;
    
        .title {
            font-family: $font-roboto;
            width: 50%;
    
            h1{
                font-weight: bold;
                color: $black;
            }
    
            h2{
                color: $black;
            }
        }
    
        .girl{
            width: 50%;
            order: -1;
            align-self: flex-start;
            
    
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    
        .txt1{
            width: 50%;
            font-family: $font-montserrat;
            font-size: 18px;
        }
    
        .txt2{
            width: 50%;
            font-family: $font-montserrat;
        }
    }

    .logos {
        flex-direction: row;
        display: flex;
        width: 100%;
        padding: 0 34px;

        .icon{
            img {
                width: 35%;
            }
    
        }
    
    }
}

// Test pour mettre le fond
.logos {
    .test {
    position: relative;
    background: url('../../assets/images/confetti.png') no-repeat center;
    background-size: 160px 160px;
    width: 300px;
    height: 300px;
    margin: auto;
        span{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-35%, -20%);
            background: rgba(252, 211, 77, 0.52);
            clip-path: url("#clipIcon");
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}
// Test pour mettre le fond

