.trophy_head{
    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 78px;

        text-align: center;
    
        color: #191847;
        
        @media (max-width: 600px) {
            font-size: 32px;
            margin-bottom: 0;
        }
    }
    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 43px;

        max-width: 90vw;
        margin-right: auto;
        margin-left: auto;
        
        color: #191847;

        @media (max-width: 600px) {
            margin-top: 0;
            font-size: 20px;
        }
    }
}

.trophy_status_parent {
    position: relative;

    .trophy_status {
        position: absolute;

        bottom: 5%;
        left: 40px;

        @media (max-width: 600px) {
            width: 50%;

            left: 25px;
            bottom: 53px;
        }
}
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    .box {
        margin-bottom: 20px;

        width: 336px;   
        height: 128px;  

        @media (max-width: 600px) {
            width: 112px;   
            height: 112px;  
        }

        box-sizing: border-box;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;

        &.locked{
            background: #1F303C;
            border: 4px solid #FF604E;
            
            .trophy_icone {
                opacity: 25%;
            }
        }
        &.unlocked{
            background: #467088;
            border: 4px solid #FCD34D;
        }

        .box-inner{
            width: 328px;
            height: 120px;
            border-radius: 16px;
            // padding-right: 8px;
            // padding-left: 8px;

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-content: center;
            // overflow: hidden;
        

            img {
                padding-top: 8px;
                padding-left: 5px;

                @media (max-width: 600px) {
                    width: 20%;
                    position: relative;

                    bottom: 25px;
                    right: 35px;
                }
            }
            h3{
                /*position: absolute;
                left: 40.48%;
                right: 0%;
                top: 2.34%;
                bottom: 0%;*/

                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                text-align: center;

                align-self: center;

                @media (max-width: 600px) {
                    font-size: 13px;
                    line-height: 16px;
                    
                    position: relative;
                    right: 200px;
                    top: 25px;
                }

                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 0;

                color: #FFFFFF;

                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                &.trophy_3lines {
                    @media (max-width: 600px) {
                        font-size: 9px;
                        line-height: 11px;
                    }
                }
                &.trophy_move_right {
                    @media (max-width: 600px) {
                        position: relative;
                        right: 190px;
                    }
                }
            }
        }
    }
}